@mixin section-layout() {
  padding: $spacing-md 0px;
}
@mixin section-content-layout() {
  margin: 40px;
  max-width: 1312px;
}

@mixin theme-card() {
  display: flex;
  flex-direction: column;

  padding: $spacing-lg;
  color: white;
  border-radius: 32px;
  background-color: $color-theme;

  @include mobile {
    padding: 40px $pd-md;
  }

  .theme-card-title {
    font-size: 52px;
    font-family: mantou;
    margin-bottom: $pd-sm;
  }
  .theme-card-subtitle {
    font-size: 20px;
    margin-bottom: $pd-md;
  }
  .theme-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}