@mixin section-layout() {
  padding: $spacing-md 0px;
}
@mixin section-content-layout() {
  margin: 40px;
  max-width: 1312px;
}

@mixin slogan-style() {
  font-family: Mantou;
  font-size: 96px;
  line-height: 1em;
  background: $color-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-align: center;
}

@mixin theme-card() {
  display: flex;
  flex-direction: column;

  padding: $spacing-lg;
  color: white;
  border-radius: 32px;
  background-color: $color-theme;

  .theme-card-title {
    font-size: 52px;
    font-family: mantou;
    margin-bottom: $pd-sm;
  }
  .theme-card-subtitle {
    font-size: 20px;
    margin-bottom: $pd-md;
  }
  .theme-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .theme-card-btn {
      flex: 0 0 auto;
      border-radius: 500px;
      border: 1px solid white;
      background-color: white;
      font-weight: 600;
      padding: $pd-sm $pd-md;
      color: $text-primary;

      cursor: pointer;

      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        margin-left: $pd-base;
      }
    }
  }
}