:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  font-size: 16px;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  line-height: 1.5;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

@font-face {
  font-family: Mantou;
  src: url(../assets/font/MantouSans-Regular.ttf);
}

#app {
  width: 100%;
}
