/** color */
$color-gradient: linear-gradient(90deg, #E5793B 1.54%, #FF4185 97.86%);
$color-theme: #DA7D4A;
$text-primary: #334155;
$text-secondary: #94A3B8;
$bg-theme-2: #FDFCFB;
$bg-theme-1: #F7ECE1;

$gray-50: #F8FAFC;
$gray-100: #F1F5F9;
$gray-200: #E2E8F0;
$gray-300: #CBD5E1;
$gray-400: #94A3B8;
$gray-500: #64748B;
$gray-600: #475569;
$gray-700: #334155;
$gray-800: #1E293B;
$gray-900: #0F172A;

/** spacing */
$pd-base: 8px;
$pd-s: 12px;
$pd-sm: 16px;
$pd-md: 24px;
$pd-lg: 32px;
$spacing-sm: 48px;
$spacing-md: 64px;
$spacing-lg: 96px;
$spacing-exlg: 192px;


/** font size */
$font-base: 18px;
$font-body: 16px;
$font-sm: 14px;
$font-exlg: 64px;

/** others */
$box-shadow: 0px 4px 12px 0px rgba(163, 180, 203, 0.20);
